body {
    background: #eaeaea;
    min-height: 100vh;
}

.card {
    border-radius: 15px !important;
}

.logo {
    text-align: center;
    margin-bottom: 120px;
}

.logo h2 {
    color: #2e7d32;
    margin-top: 10px;
}

/* Estilos para los input-group */
.input-group-text {
    background: #f3f3f3;
    border: none;
    border-radius: 8px 0 0 8px !important;
}

.form-control {
    background: #f3f3f3;
    border: none;
    border-radius: 0 8px 8px 0 !important;
}

.form-control:focus {
    background: #f3f3f3;
    box-shadow: none;
    border: none;
}

.btn-success {
    background: linear-gradient(#4caf50, #2e7d32) !important;
    border: none !important;
    border-radius: 8px !important;
    font-size: 16px;
}

.btn-success:hover {
    opacity: 0.9;
}

#mensaje {
    margin-top: 15px;
    font-size: 14px;
}



