*,
::before,
::after {
  box-sizing: border-box;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
 }

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media print {
  body {
    background: white;
  }

  button {
    display: none;
  }
}

.ticket-container {
  max-width: 400px;
  font-family: "Courier New", monospace;
  background-color: white;
  border: 1px solid #ddd;
  padding: 1rem;
  margin: auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.ticket-container h4 {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.ticket-container table {
  font-size: 0.85rem;
}

.ticket-container .btn {
  min-width: 100px;
}

.card-body > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-body > div > div {
  display: flex;
  align-items: center;
}

.btn-outline-secondary {
  padding: 0 10px;
}


